.container{
  width: 100%;
  background-color: #ddd;
}
.progress{
  width: 1%;
  height: 30px;
  background-color: #04AA6D;
}
#run{
    width: 80px;
    height: 40px;
    background-color: green;
    margin-top: 20px;
}

